---
layout: default
title: Partes de Trabajos Escritos con normas y requisitos 📝
description: ¿Tienes problemas con tus trabajos académicos? Consigue guías y consejos completos en TrabajoEscrito. ¡Haz clic para obtener calificaciones sobresalientes! 📈
h1: "Necesitas las normas o alguna parte de tu Trabajo Escrito"
intro: "Te enseñamos a aplicar <strong>las normas APA, ICONTEC o los tips para tu Trabajo Escrito</strong>"
boton_info: "partes"
boton_info_title: "Aprende la estructura"
boton_mas: "normas"
boton_mas_title: "Normas Académicas"
---
<section class="gallery-intro wrapper flow">
  <h2>¿Qué partes de tu <br>Trabajo Escrito necesitas resolver?</h2>
  {% include slider.html %}
</section>

<section class="normas seccion_a wrapper flow">
  {% include add.html %}
  <h2 id="normas">Normas para presentar un Trabajo Escrito</h2>
  <p><i>Las normas APA e ICONTEC son fundamentales en los trabajos escritos</i>, proporcionando pautas para la estructura, formato, citación y referencias.</p>
  <p>Por ejemplo, las normas APA se enfocan en disciplinas como psicología, ciencias sociales y de la salud mientras que las normas ICONTEC son ampliamente utilizadas en Colombia y América Latina.</p>
  <div class="links">
    <h3>Accede a nuestra herramienta de citación y a las normas académicas</h3>
    <article>
      <a href="{{site.baseurl}}/normas-apa" title="Normas APA" class="boton">⇾ Normas APA</a>
    </article>
    <article>
      <a href="{{site.baseurl}}/generador-citas-apa" title="Generador Citas Apa" class="boton">⇾ Generador Citas APA</a>
    </article>
    <article>
      <a href="{{site.baseurl}}/normas-icontec" title="Normas Icontec" class="boton">⇾ Normas Icontec</a>
    </article>
  </div>
  <!-- Anclaje para que el subtitulo no quede detrás de la barra superior -->
</section>

<main class="estructura wrapper flow" id="partes">
  <h2>Aprende cómo se divide un trabajo escrito</h2>
  <p><strong>¿Sabes cómo se organiza un trabajo escrito y cómo presentarlo?</strong> Utiliza la siguiente información para conseguir tus mejores notas.</p>
  <hr>
  <h2>Las 4 partes principales de un trabajo escrito y sus elementos</h2>
  <h3>1. El formato o cuartilla del trabajo</h3>
  <p>La elección adecuada del formato de hoja o cuartilla es crucial en la presentación. <strong>El formato determina el tamaño, las márgenes y la disposición del contenido en la página</strong>, brindando una apariencia profesional y facilitando la legibilidad.</p>
  <h4>Aplica un formato profesional en tu trabajo escrito</h4>
    <ul class="cluster">
      <li>
        <a href="{{site.baseurl}}/margenes-trabajo-escrito" class="boton" title="Márgenes">Medias de las Márgenes</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/numeracion-trabajo-escrito" class="boton" title="Numeración">Cómo Enumerar</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/sangria-trabajo-escrito" class="boton" title="Sangría">Aplicar Sangrías</a>
      </li>
    </ul>
  <h3>2. Las hojas preliminares de tu trabajo académico</h3>
  {% include add3.html %}
  <p>Los preliminares son <i></i>elementos que brindan información esencial antes de adentrarse en el contenido principal.</i> Estos elementos ayudan a <strong>guiar al lector a través del contenido del trabajo escrito</strong>.</p>
  <h4>Incluye las Hojas Preliminares en tu Trabajo</h4>
    <ul class="cluster">
      <li>
        <a href="{{site.baseurl}}/portada-trabajo-escrito" class="boton" title="Portada">Portada</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/contraportada-trabajo-escrito" class="boton" title="Contraportada">Contraportada</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/hoja-presentacion-trabajo-escrito" class="boton" title="Presentación">Presentación</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/introduccion-trabajo-escrito" class="boton" title="Introducción">Introducción</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/pagina-aceptacion-trabajo-escrito" class="boton" title="Aceptación">Aceptación</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/dedicatoria-trabajo-escrito" class="boton" title="Dedicatoria">Dedicatoria</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/glosario-trabajo-escrito" class="boton" title="Glosario">Glosario</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/tabla-de-contenido-trabajo-escrito" class="boton" title="Tabla de contenido">Tabla de contenido</a>
      </li>
    </ul>
  <h3>3. El Contenido o Cuerpo del Trabajo</h3>
  {% include add4.html %}
  <p>El contenido de un trabajo escrito abarca elementos combinados en <a href="{{'cuerpo-trabajo-escrito'|relative_url}}">el contenido o resultado de tu investigación</a> y contribuyen a una presentación efectiva y comprensible.</p>
  <h4>Conoce las Partes Importantes del Contenido del Texto</h4>
    <ul class="cluster">
      <li>
        <a href="{{site.baseurl}}/titulos-trabajo-escrito" class="boton" title="Títulos">Títulos</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/imagenes-trabajo-escrito" class="boton" title="Imágenes">Imágenes</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/cita-trabajo-escrito" class="boton" title="Citas">Citas</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/interlineado-trabajo-escrito" class="boton" title="Interlineado">Interlineado</a>
      </li>
    </ul>
  <h3>4. Las Partes Finales de un Trabajo Escrito</h3>
  {% include add5.html %}
  <p>Con estas partes le das una conclusión sólida y completa a la presentación del contenido. <i>Estas partes finales añaden valor y completitud al trabajo escrito</i>, permitiendo a los lectores <b>profundizar en los detalles y obtener una visión global</b> de la investigación o el tema abordado.</p>
  <h4>Hojas Finales que Debes Tener en tu Trabajo Escrito</h4>
    <ul class="cluster">
      <li>
        <a href="{{site.baseurl}}/conclusiones-trabajo-escrito" class="boton" title="Conclusión">Conclusión</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/agradecimientos-trabajo-escrito" class="boton" title="Agradecimientos">Agradecimientos</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/anexos-trabajo-escrito" class="boton" title="Anexos">Anexos</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/resumen-trabajo-escrito" class="boton" title="Resumen">Resumen</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/bibliografia-trabajo-escrito" class="boton" title="Bibliografía">Bibliografía</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/referencias-trabajo-escrito" class="boton" title="Referencias">Referencias</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/apendice-trabajo-escrito" class="boton" title="Apéndice">Apéndice</a>
      </li>
    </ul>
  </main>

  {% include buscador.html %}

  <section class="estructura wrapper flow">
    <h2>Tipos de trabajos escritos</h2>
    <p>Hay muchas clases de trabajos escritos. Te enseñamos cómo preparar y desarrollar los más conocidos. Haz clic en el tipo de trabajo académico que estás buscando:</p>
    <div class="links">
      <article>
        <a href="{{site.baseurl}}/ensayos-con-normas-tecnicas" title="Ensayos"><h3>⇾ Ensayos</h3></a>
      </article>
      <article>
        <a href="{{site.baseurl}}/tesis-normas-apa" title="Tesis"><h3>⇾ Tesis</h3></a>
      </article>
      <article>
        <a href="{{site.baseurl}}/investigacion-con-normas-apa-icontec" title="Investigación"><h3>⇾ Investigación</h3></a>
      </article>
      <article>
        <a href="{{site.baseurl}}/proyectos-academicos" title="Cartas"><h3>⇾ Proyectos</h3></a>
      </article>
      <article>
        <a href="{{site.baseurl}}/anteproyecto-con-normas-tecnicas" title="Cartas"><h3>⇾ Anteproyecto</h3></a>
      </article>
      <article>
        <a href="{{site.baseurl}}/informes" title="Informe"><h3>⇾ Informe</h3></a>
      </article>
      <article>
        <a href="{{site.baseurl}}/monografia" title="Monografía"><h3>⇾ Monografía</h3></a>
      </article>
      <article>
        <a href="{{site.baseurl}}/articulos-con-normas-apa" title="Artículo"><h3>⇾ Artículo</h3></a>
      </article>
    </div>
    <hr>
    </section>
    <section class="entradas wrapper flow">
    <h2 class="entrada1">Haz mejor tu Trabajo Escrito</h2>
    <span class="entrada2"><img loading="lazy" src="{{'/logo.webp'|relative_url}}" alt="Logo TrabajoEscrito.com"></span>
    <p class="entrada3">Aprende muchos tips, consejos, recomendaciones y trucos con el <strong>blog de TrabajoEscrito.com</strong></p>
    {% include add6.html %}
    <h3 class="entrada4">Aplica nuestros consejos para trabajos escritos</h3>
    <div class="entradas-blog">
      {% for post in site.data.posts-home %}
      <article>
        <img loading="lazy" src="{{ post.img | relative_url }}" alt="{{post.alt}}" loading="lazy">
        <a href="{{post.url}}" title="{{post.title}}">
          <h4>{{post.h4}}</h4>
        </a>
        <p>{{post.p}}</p>
      </article>
      {% endfor %}
    </div>
    <a href="{{'tips-y-consejos'|relative_url}}" class="boton">Aprende más en el blog</a>
  </section>

  {% include cta.html %}
  {% include footer.html %}

<!-- Script pointing to search-script.js -->
<script src="{{site.baseurl}}/js/search-script.js" type="text/javascript"></script>
<!-- Configuration -->
<script>
  var sjs = SimpleJekyllSearch({
    searchInput: document.getElementById('search-input'),
    resultsContainer: document.getElementById('results-container'),
    json: '/search.json',
    noResultsText: 'No tenemos este texto aún',
    fuzzy: false
  });
</script>
 <!-- Slider /js -->
 <script src="/js/slider.js" defer></script>
 <!-- Google tag (gtag.js) -->
 