---
layout: default
title: Partes de Trabajos Escritos con normas y requisitos 📝
description: ¿Tienes problemas con tus trabajos académicos? Consigue guías y consejos completos en TrabajoEscrito. ¡Haz clic para obtener calificaciones sobresalientes! 📈
h1: "Necesitas las normas o alguna parte de tu Trabajo Escrito"
intro: "Te enseñamos a aplicar <strong>las normas APA, ICONTEC o los tips para tu Trabajo Escrito</strong>"
boton_info: "partes"
boton_info_title: "Aprende la estructura"
boton_mas: "normas"
boton_mas_title: "Busca la norma que necesitas"
---
<section class="gallery-intro">
  <h2>¿Qué partes de tu <br>Trabajo Escrito necesitas resolver?</h2>
  {% include slider.html %}
  {% include add.html %}
</section>

<section class="normas seccion_a">
  <h2 id="normas">Normas para presentar un Trabajo Escrito</h2>
  <p><i>Las normas APA e ICONTEC son fundamentales en los trabajos escritos</i>, proporcionando pautas para la estructura, formato, citación y referencias. Por ejemplo, las normas APA se enfocan en disciplinas como psicología, ciencias sociales y de la salud mientras que las normas ICONTEC son ampliamente utilizadas en Colombia y América Latina.</p>
  <div class="links">
    <article>
      <a href="{{site.baseurl}}/normas-apa" title="Normas APA" class="boton">⇾ Normas APA</a>
    </article>
    <article>
      <a href="{{site.baseurl}}/normas-icontec" title="Normas Icontec" class="boton">⇾ Normas Icontec</a>
    </article>
  </div>
  <!-- Anclaje para que el subtitulo no quede detrás de la barra superior -->
</section>

<main class="estructura" id="partes">
  <h2>Aprende cómo se divide un trabajo escrito</h2>
  <p><strong>¿Sabes cómo se organiza un trabajo escrito y cómo presentarlo?</strong> Utiliza la siguiente información para conseguir tus mejores notas.</p>
  <hr>
  <h2>Las 4 partes principales de un trabajo escrito y sus elementos</h2>
  <h3>1. El formato o cuartilla del trabajo</h3>
  <p>La elección adecuada del formato de hoja o cuartilla es crucial en la presentación. <strong>El formato determina el tamaño, las márgenes y la disposición del contenido en la página</strong>, brindando una apariencia profesional y facilitando la legibilidad.</p>
  <h4>Aplica un formato profesional en tu trabajo escrito</h4>
    <ul class="cluster">
      <li>
        <a href="{{site.baseurl}}/margenes-trabajo-escrito" class="boton" title="Márgenes">Medias de las Márgenes</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/numeracion-trabajo-escrito" class="boton" title="Numeración">Cómo Enumerar</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/sangria-trabajo-escrito" class="boton" title="Sangría">Aplicar Sangrías</a>
      </li>
    </ul>
  <h3>2. Las hojas preliminares de tu trabajo académico</h3>
  <p>Los preliminares son <i></i>elementos que brindan información esencial antes de adentrarse en el contenido principal.</i> Estos elementos ayudan a <strong>guiar al lector a través del contenido del trabajo escrito</strong>.</p>
  <h4>Incluye las Hojas Preliminares en tu Trabajo</h4>
    <ul class="cluster">
      <li>
        <a href="{{site.baseurl}}/portada-trabajo-escrito" class="boton" title="Portada">Portada</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/contraportada-trabajo-escrito" class="boton" title="Contraportada">Contraportada</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/hoja-presentacion-trabajo-escrito" class="boton" title="Presentación">Presentación</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/introduccion-trabajo-escrito" class="boton" title="Introducción">Introducción</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/pagina-aceptacion-trabajo-escrito" class="boton" title="Aceptación">Aceptación</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/dedicatoria-trabajo-escrito" class="boton" title="Dedicatoria">Dedicatoria</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/glosario-trabajo-escrito" class="boton" title="Glosario">Glosario</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/tabla-de-contenido-trabajo-escrito" class="boton" title="Tabla de contenido">Tabla de contenido</a>
      </li>
    </ul>
  <h3>3. El Contenido o Cuerpo del Trabajo</h3>
  <p>El contenido de un trabajo escrito abarca elementos combinados en <a href="{{'cuerpo-trabajo-escrito'|relative_url}}">el contenido o resultado de tu investigación</a> y contribuyen a una presentación efectiva y comprensible.</p>
  <h4>Conoce las Partes Importantes del Contenido del Texto</h4>
    <ul class="cluster">
      <li>
        <a href="{{site.baseurl}}/titulos-trabajo-escrito" class="boton" title="Títulos">Títulos</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/imagenes-trabajo-escrito" class="boton" title="Imágenes">Imágenes</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/cita-trabajo-escrito" class="boton" title="Citas">Citas</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/interlineado-trabajo-escrito" class="boton" title="Interlineado">Interlineado</a>
      </li>
    </ul>
  <h3>4. Las Partes Finales de un Trabajo Escrito</h3>
  <p>Con estas partes le das una conclusión sólida y completa a la presentación del contenido. <i>Estas partes finales añaden valor y completitud al trabajo escrito</i>, permitiendo a los lectores <b>profundizar en los detalles y obtener una visión global</b> de la investigación o el tema abordado.</p>
  <h4>Hojas Finales que Debes Tener en tu Trabajo Escrito</h4>
    <ul class="cluster">
      <li>
        <a href="{{site.baseurl}}/conclusiones-trabajo-escrito" class="boton" title="Conclusión">Conclusión</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/agradecimientos-trabajo-escrito" class="boton" title="Agradecimientos">Agradecimientos</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/anexos-trabajo-escrito" class="boton" title="Anexos">Anexos</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/resumen-trabajo-escrito" class="boton" title="Resumen">Resumen</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/bibliografia-trabajo-escrito" class="boton" title="Bibliografía">Bibliografía</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/referencias-trabajo-escrito" class="boton" title="Referencias">Referencias</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/apendice-trabajo-escrito" class="boton" title="Apéndice">Apéndice</a>
      </li>
    </ul>
  </main>

  {% include buscador.html %}

  <section class="estructura">
    <h2>Tipos de trabajos escritos</h2>
    <p>Hay muchas clases de trabajos escritos. Te enseñamos cómo preparar y desarrollar los más conocidos. Haz clic en el tipo de trabajo académico que estás buscando:</p>
    <div class="links">
      <article>
        <a href="{{site.baseurl}}/ensayos-con-normas-tecnicas" title="Ensayos"><h3>⇾ Ensayos</h3></a>
      </article>
      <article>
        <a href="{{site.baseurl}}/tesis-normas-apa" title="Tesis"><h3>⇾ Tesis</h3></a>
      </article>
      <article>
        <a href="{{site.baseurl}}/investigacion-con-normas-apa-icontec" title="Investigación"><h3>⇾ Investigación</h3></a>
      </article>
      <article>
        <a href="{{site.baseurl}}/proyectos-academicos" title="Cartas"><h3>⇾ Proyectos</h3></a>
      </article>
      <article>
        <a href="{{site.baseurl}}/anteproyecto-con-normas-tecnicas" title="Cartas"><h3>⇾ Anteproyecto</h3></a>
      </article>
      <article>
        <a href="{{site.baseurl}}/informes" title="Informe"><h3>⇾ Informe</h3></a>
      </article>
      <article>
        <a href="{{site.baseurl}}/monografia" title="Monografía"><h3>⇾ Monografía</h3></a>
      </article>
      <article>
        <a href="{{site.baseurl}}/articulos-con-normas-apa" title="Artículo"><h3>⇾ Artículo</h3></a>
      </article>
    </div>
    <hr>
    </section>
    <section class="entradas">
    <h2 class="entrada1">Haz tu Trabajo Escrito Hoy</h2>
    <span class="entrada2"><img loading="lazy" src="{{'/logotipo.webp'|relative_url}}" alt="Logo TrabajoEscrito.com"></span>
    <p class="entrada3">Aprende muchos tips, consejos, recomendaciones y trucos con el blog de <strong>TrabajoEscrito.com</strong></p>
    <h3 class="entrada4">Aplica Nuestros Tips para Presentarlos</h3>
    <div class="entradas-blog">
      <article>
        <img loading="lazy" src="{{ site.baseurl }}/img/blog/trabajo-escrito-niños.webp" alt="trabajos escritos con niños" loading="lazy">
        <a href="{% post_url 2023-07-30-trabajos-escritos-ninos-primaria %}" title="¿Cómo realizar Trabajos Escritos para niños de primaria?">
          <h4>Cómo hacer un trabajo escrito para niños de primaria</h4>
        </a>
        <p>Un trabajo académico permite a los estudiantes de primaria desarrollar habilidades de investigación, escritura y pensamiento crítico</p>
      </article>
      <article>
        <img loading="lazy" src="{{ site.baseurl }}/img/blog/trabajo-escrito-decorado.webp" alt="Evaluacion trabajos escritos" loading="lazy">
        <a href="{% post_url 2023-09-25-evaluacion-trabajos-escritos-rubricas-normas-apa %}" title="Paso a Paso: Cómo Evaluar Trabajos Escritos como un Pro">
          <h4>Evaluación de Trabajos Escritos: Rubricas, Normas APA y Más</h4>
        </a>
        <p>Conoce los criterios e indicadores clave para una evaluación efectiva de trabajos escritos. ¿Buscas herramientas online para crear rúbricas? Encuentra las mejores opciones aquí.</p>
      </article>
      <article>
        <img loading="lazy" src="{{ site.baseurl }}/img/blog/apa-vs-icontec.webp" alt="Diferencias APA vs Icontec" loading="lazy">
        <a href="{% post_url 2023-06-29-descubre-las-diferencias-normas-apa-e-icontec %}" title="Descubre las diferencias: Normas APA e ICONTEC">
          <h4>Diferencia entre Normas APA e ICONTEC: Todo lo que necesitas saber</h4>
        </a>
        <p>Dos de las normas más utilizadas a nivel internacional y en Colombia son las normas APA e ICONTEC. ¿Pero cuál es la diferencia entre estas dos? ¿Cómo saber cuándo utilizar una y no la otra?</p>
      </article>
      <article>
        <img loading="lazy" src="{{ site.baseurl }}/img/blog/trabajo-escrito-a-mano.webp" alt="Trabajo a mano" loading="lazy">
        <a href="{% post_url 2023-06-05-trabajo-escrito-a-mano %}" title="La magia de un Trabajo Escrito a mano con Normas APA e Icontec">
          <h4>Aprende a hacer un trabajo escrito a mano aplicando las normas APA e Icontec</h4>
        </a>
        <p>Sorprende a todos con tus habilidades de escritura en el 2023. En este artículo, aprenderás los pasos clave para hacer un trabajo escrito a mano increíble y cumplir con las normas APA e Icontec.</p>
      </article>
      <article>
        <img loading="lazy" src="{{ site.baseurl }}/img/blog/normas-apa-power-point.webp" alt="Normas APA power point" loading="lazy">
        <a href="{% post_url 2023-06-02-normas-apa-power-point %}" title="Aplica Las Normas APA en PowerPoint">
          <h4>Las Normas APA en PowerPoint: mejora tus presentaciones</h4>
        </a>
        <p>¿Alguna vez te has preguntado cómo implementar las normas APA en PowerPoint? Estas normas, reconocidas y respetadas en el mundo académico, también aplican a tus presentaciones digitales.</p>
      </article>
      
    </div>
    <a href="{{'tips-y-consejos'|relative_url}}" class="boton">Aprende más en el blog</a>
  </section>

  {% include cta.html %}
  {% include footer.html %}

<!-- Script pointing to search-script.js -->
<script src="{{site.baseurl}}/js/search-script.js" type="text/javascript"></script>
<!-- Configuration -->
<script>
  var sjs = SimpleJekyllSearch({
    searchInput: document.getElementById('search-input'),
    resultsContainer: document.getElementById('results-container'),
    json: '/search.json',
    noResultsText: 'No tenemos este texto aún',
    fuzzy: false
  });
</script>
 <!-- Slider /js -->
 <script src="/js/slider.js" defer></script>
 <!-- Google tag (gtag.js) -->
 