---
layout: default
title: Trabajos Escritos con todas sus normas y requisitos
description: Las terminales de transporte te dan la seguridad que necesitas para viajar. Busca aquí la información oficial y completa de las terminales de Colombia
h1: "Hagamos tu Trabajo Escrito como debe ser"
intro: "Haz clic para aprender más sobre la <strong>la forma correcta de hacer un Trabajo Escrito</strong>"
boton_info: "partes"
boton_info_title: "Partes de un trabajo escrito"
boton_mas: "buscador"
boton_mas_title: "Buscador"
---
<section class="gallery-intro">
  <h2>¿Qué partes de un<br><span class="destacado">Trabajo Escrito buscas?</span>"
  </h2>
  <div class="gallery-slider">
    <span id="left" class="next"><img src="/img/prev.svg" alt=""></span>
    <div class="slide-container">
      <a href="{{site.baseurl}}/portada-trabajo-escrito" title="Portadas">
        <img src="/img/portada.svg" alt="Portada de un trabajo escrito" draggable="false">
        <p>Portadas</p>
      </a>
      <a href="{{site.baseurl}}/margenes-trabajo-escrito" title="Márgenes">
        <img src="/img/margenes.svg" alt="Márgenes de un trabajo escrito" draggable="false">
        <p>Márgenes</p>
      </a>
      <a href="{{site.baseurl}}/tabla-de-contenido-trabajo-escrito" title="Contenido">
        <img src="/img/tabla-de-contenido.svg" alt="Tabla de contenido de un trabajo escrito" draggable="false">
        <p>Índice</p>
      </a>
      <a href="{{site.baseurl}}/textos-y-fuentes-trabajo-escrito" title="Fuentes o Textos">
        <img src="/img/texto.svg" alt="Textos en un trabajo escrito" draggable="false">
        <p>Textos</p>
      </a>
      <a href="{{site.baseurl}}/cita-trabajo-escrito" title="Citas">
        <img src="/img/citas.svg" alt="Citas de un trabajo escrito" draggable="false">
        <p>Citas</p>
      </a>
      <a href="{{site.baseurl}}/anexos-trabajo-escrito">
        <img src="/img/anexo.svg" alt="Anexo en un trabajo escrito" draggable="false">
        <p>Anexos</p>
      </a>
    </div>
    <span id="right" class="prev"><img src="/img/next.svg" alt=""></span>
  </div>
</section>

<section class="normas seccion_a">
  <h2>Normas para trabajos escritos</h2>
  <p><i>Las normas APA e ICONTEC son fundamentales en los trabajos escritos</i>, proporcionando pautas para la estructura, formato, citación y referencias. Por ejemplo, las normas APA se enfocan en disciplinas como psicología, ciencias sociales y de la salud,
  <!-- mientras que las normas ICONTEC son ampliamente utilizadas en Colombia y América Latina. -->
  </p>
  <p><strong>Haz clic en el botón de las normas APA</strong> y aprende cómo utilizarlas.</p>
  <div class="links">
    <article>
      <a href="{{site.baseurl}}/normas-apa" title="Normas APA"><h3>⇾ Normas APA</h3></a>
    </article>
    <article>
      <a href="{{site.baseurl}}/normas-icontec" title="Normas Icontec"><h3>⇾ Normas Icontec</h3></a>
    </article>
  </div>
  <!-- Anclaje para que el subtitulo no quede detrás de la barra superior -->
  <span id="partes"></span>
</section>

<main class="estructura" >
  <h2>Estructura de un Trabajo Escrito</h2>
  <p>Todos tus trabajos deben tener un orden o una estructura. <strong>¿Sabes cómo se hace un trabajo escrito? ¿Conoces cuál es el formato a seguir?</strong></p>
  <p>Utiliza la siguiente información para preparar tu trabajo escrito.</p>
  <hr>
  <h3>1. Formatos o cuartilla de la hoja</h3>
  <p>La elección adecuada del formato de hoja o cuartilla es crucial en la presentación de trabajos escritos. <strong>El formato determina el tamaño, márgenes y disposición del contenido en la página</strong>, brindando una apariencia profesional y facilitando la legibilidad.</p>
  <h4>La hoja guía de un Trabajo Escrito</h4>
    <ul class="cluster">
      <li>
        <a href="{{site.baseurl}}/margenes-trabajo-escrito" class="boton" title="Márgenes">Márgenes</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/numeracion-trabajo-escrito" class="boton" title="Numeración">Numeración</a>
      </li>
      <li>
        <a href="#" class="boton" title="Sangría">Sangría</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/textos-y-fuentes-trabajo-escrito" class="boton" title="Texto">Texto</a>
      </li>
    </ul>
  <p><b>RECUERDA:</b> La correcta selección del formato contribuye a una presentación visualmente atractiva y ordenada del contenido, mejorando la experiencia de lectura de tu trabajo.</p>
  <hr>
  <h3>2. Preliminares de un Trabajo Escrito</h3>
  <p>Los preliminares son elementos importantes en un trabajo escrito, que <i>brindan información esencial antes de adentrarse en el contenido principal.</i> Estos incluyen la portada, la contraportada y la introducción.</p>
  <p>Estos preliminares son fundamentales para proporcionar una presentación profesional y guiar al lector a través del trabajo.</p>
  <h4>Preliminares principales</h4>
    <ul class="cluster">
      <li>
        <a href="{{site.baseurl}}/portada-trabajo-escrito" class="boton" title="Portada">Portada</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/contraportada-trabajo-escrito" class="boton" title="Contraportada">Contraportada</a>
      </li>
      <li>
        <a href="#" class="boton" title="Presentación">Presentación</a>
      </li>
      <li>
        <a href="#" class="boton" title="Introducción">Introducción</a>
      </li>
      <li>
        <a href="#" class="boton" title="Aceptación">Aceptación</a>
      </li>
      <li>
        <a href="#" class="boton" title="Dedicatoria">Dedicatoria</a>
      </li>
      <li>
        <a href="#" class="boton" title="Glosario">Glosario</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/tabla-de-contenido-trabajo-escrito" class="boton" title="Tabla de contenido">Tabla de contenido</a>
      </li>
    </ul>
  <p><b>RECUERDA:</b> <strong>La portada</strong> proporciona detalles como el título del trabajo, el nombre del autor y la afiliación institucional, mientras que <strong>la contraportada</strong> puede contener información adicional como el resumen o el índice. <strong>La introducción</strong> establece el contexto del trabajo y presenta el tema, los objetivos y la relevancia del estudio.</p>
  <hr>
  <h3>3. El contenido o cuerpo del trabajo</h3>
  <p>El contenido de un trabajo escrito abarca diversos elementos fundamentales. Estos elementos combinados en <a href="{{'cuerpo-trabajo-escrito'|relative_url}}">el contenido de un trabajo escrito</a> contribuyen a una presentación efectiva y comprensible.</p>
  <h4>Partes importantes del contenido</h4>
    <ul class="cluster">
      <li>
        <a href="#" class="boton" title="Títulos">Títulos</a>
      </li>
      <li>
        <a href="#" class="boton" title="Redacción">Redacción</a>
      </li>
      <li>
        <a href="#" class="boton" title="Imágenes">Imágenes</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/cita-trabajo-escrito" class="boton" title="Citas">Citas</a>
      </li>
      <li>
        <a href="#" class="boton" title="Gráficos">Gráficos</a>
      </li>
      <li>
        <a href="#" class="boton" title="Interlineado">Interlineado</a>
      </li>
    </ul>
  <p><b>RECUERDA:</b> <strong>Los títulos y subtítulos</strong> proporcionan una estructura clara y organizada, guiando al lector a lo largo del texto. <strong>El texto principal</strong> desarrolla los temas y argumentos de manera coherente y precisa. <strong>Las imágenes y gráficos</strong> complementan la información visualmente, facilitando la comprensión. <strong>El interlineado</strong> adecuado mejora la legibilidad del contenido, mientras que <strong>las listas</strong> ayudan a organizar y resumir información de manera concisa.</p>
  <hr>
  <h3>4. Partes finales</h3>
  <p>Las partes finales de un trabajo escrito son igualmente importantes para brindar una conclusión sólida y completar la presentación del contenido. <i>Estas partes finales añaden valor y completitud al trabajo escrito</i>, permitiendo a los lectores profundizar en los detalles y obtener una visión global de la investigación o el tema abordado.</p>
  <h4>Formatos finales del Trabajo Escrito</h4>
    <ul class="cluster">
      <li>
        <a href="#" class="boton" title="Conclusión">Conclusión</a>
      </li>
      <li>
        <a href="#" class="boton" title="Agradecimientos">Agradecimientos</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/anexos-trabajo-escrito" class="boton" title="Anexos">Anexos</a>
      </li>
      <li>
        <a href="#" class="boton" title="Bibliografía">Bibliografía</a>
      </li>
      <li>
        <a href="#" class="boton" title="Referencias">Referencias</a>
      </li>
      <li>
        <a href="#" class="boton" title="Interlineado">Interlineado</a>
      </li>
      <li>
        <a href="#" class="boton" title="Interlineado">Listas Normas APA</a>
      </li>
    </ul>
  <p><b>RECUERDA:</b> <strong>Los agradecimientos</strong> permiten expresar reconocimiento y gratitud a aquellos que brindaron apoyo durante la investigación o redacción. <strong>Los anexos</strong> incluyen material complementario relevante, como tablas, gráficos adicionales o documentos de respaldo. <strong>La bibliografía</strong> recopila las fuentes citadas en el trabajo, asegurando la adecuada atribución y facilitando la verificación de la información. <strong>La conclusión</strong> resume los puntos clave y presenta los hallazgos o resultados obtenidos.</p>
  </main>

  {% include buscador.html %}

  <section class="estructura">
    <h2>Ejemplos de Trabajos Escritos</h2>
    <p>Hay muchas clases de trabajos escritos. Te enseñamos sobre los más conocidos. Haz clic en el tipo de Trabajos Escrito que estás buscando:</p>
    <div class="links">
      <article>
        <a href="#" title="Ensayos"><h3>⇾ Ensayos</h3></a>
      </article>
      <article>
        <a href="#" title="Tesis"><h3>⇾ Tesis</h3></a>
      </article>
      <article>
        <a href="#" title="Investigación"><h3>⇾ Investigación</h3></a>
      </article>
      <article>
        <a href="#" title="Cartas"><h3>⇾ Cartas</h3></a>
      </article>
      <article>
        <a href="{{site.baseurl}}/informes" title="Informe"><h3>⇾ Informe</h3></a>
      </article>
      <article>
        <a href="#" title="Monografía"><h3>⇾ Monografía</h3></a>
      </article>
      <article>
        <a href="#" title="Artículo"><h3>⇾ Artículo</h3></a>
      </article>
    </div>
    </section>

  <section class="entradas">
    <h2 class="entrada1">Te damos más tips</h2>
    <span class="entrada2"><img loading="lazy" src="{{'img/blog.svg'|relative_url}}" alt="Blog de TrabajoEscrito.com"></span>
    <p class="entrada3">Aprende muchos tips, consejos y trucos con nuestro blog de TrabajoEscrito.com</p>
    <h2 class="entrada4">para tu Trabajo Escrito</h2>
    <div class="entradas-blog">
      {% assign post1 = site.posts[0] %}
      <article>
        <img loading="lazy" src="{{ site.baseurl }}/img/{{ post1.webp }}" alt="{{ post1.alt }}" loading="lazy">
        <a href="{{site.baseurl}}{{ post1.url }}" title="{{post1.title}}">
          <h4>{{ post1.h1 }}</h4>
        </a>
        {{ post1.excerpt | truncate: 80 | markdownify}}
      </article>
      {% assign post2 = site.posts[1] %}
      <article>
        <img loading="lazy" src="{{ site.baseurl }}/img/{{ post2.webp }}" alt="{{ post2.alt }}" loading="lazy">
        <a href="{{site.baseurl}}{{ post2.url }}" title="{{post2.title}}">
          <h4>{{ post2.h1 }}</h4>
        </a>
        {{ post2.excerpt | truncate: 80 | markdownify}}
      </article>
      {% assign post3 = site.posts[2] %}
      <article>
        <img loading="lazy" src="{{ site.baseurl }}/img/{{ post3.webp }}" alt="{{ post3.alt }}" loading="lazy">
        <a href="{{site.baseurl}}{{ post3.url }}" title="{{post3.title}}">
          <h4>{{ post3.h1 }}</h4>
        </a>
        {{ post3.excerpt | truncate: 80 | markdownify}}
      </article>
      {% assign post4 = site.posts[3] %}
      <article>
        <img loading="lazy" src="{{ site.baseurl }}/img/{{ post4.webp }}" alt="{{ post4.alt }}" loading="lazy">
        <a href="{{site.baseurl}}{{ post4.url }}" title="{{post4.title}}">
          <h4>{{ post4.h1 }}</h4>
        </a>
        {{ post4.excerpt | truncate: 80 | markdownify}}
      </article>
      {% assign post5 = site.posts[4] %}
      
    </div>
  </section>

  {% include cta.html %}
  {% include follow-buttons.html %}
  {% include footer.html %}

<!-- Script pointing to search-script.js -->
<script src="{{site.baseurl}}/js/search-script.js" type="text/javascript"></script>
<!-- Configuration -->
<script>
  var sjs = SimpleJekyllSearch({
  searchInput: document.getElementById('search-input'),
  resultsContainer: document.getElementById('results-container'),
   json: '/search.json',
   noResultsText: 'No tenemos este texto aún',
   fuzzy: false
  })
</script>