<aside class="cta wrapper flow" id="cta">
  <h2>Aprende a escribir y presentar trabajos escritos</h2>
  <ul>
    <li>🤔 ¿Te confunde tanta norma y rigidez técnica?</li>
    <li>🧐 ¿Buscas cómo cumplir los requisitos académicos y sigues en las mismas?</li>
    <li>🎓 ¿Todavía no presentas esa tesis?</li> 
  </ul>
  <p>Entonces, haz clic en este botón, deja tu email, y recibe diariamente lo que te ayudará a lograr esos objetivos. Y hasta a conquistar a la chica que no baila reguetón. Ya verás.</p>
  <p>Aquí 👇👇👇</p>
  <a href="{{site.email}}" class="boton" title="Suscripción del boletín de trabajoescrito.com">Suscríbete</a>
</aside>

