<aside class="cta">
  <h3>¿Necesitas dominar las normas y mejorar tus habilidades en trabajos escritos?</h3>
  <p>Estos cursos prácticos te darán las herramientas necesarias para <strong>superar los desafíos comunes al redactar tesis, investigaciones y más</strong>. Olvídate de la confusión al citar fuentes o estructurar tus trabajos, y comienza a destacar en tus escritos.</p>
  <p>Haz clic ahora y aprovecha esta oportunidad para alcanzar el éxito académico y profesional que tanto deseas.</p>
  <a href="{{'cursos-de-trabajos-escritos'|relative_url}}" class="boton" title="Cursos de Normas APA y más">→ Página de cursos</a>
</aside>