<footer>
  <section>
    <div>
      <a href="{{site.baseurl}}/">
        <img src="{{'logotipo.webp'|relative_url}}" alt="Logo TrabajoEscrito.com" width="120"  loading="lazy">
      </a>
      <p>¿Necesitas dominar las normas APA, ICONTEC y mejorar tus habilidades en trabajos escritos? En nuestra página aprende todo lo necesario.</p>
    </div>
    <div>
      <h4>Normas</h4>
      <a href="{{ site.baseurl }}/normas-apa">APA</a>
      <a href="{{ site.baseurl }}/normas-icontec">Icontec</a>
      <a href="{{ site.baseurl }}/#">IEEE</a>
      <a href="{{ site.baseurl }}/#">Vancouver</a>
      <a href="{{ site.baseurl }}/#">Chicago</a>
      <a href="{{ site.baseurl }}/#">Harvard</a>
      <a href="{{ site.baseurl }}/#">Upel</a>
    </div>
    <div>
      <h4>Tipos</h4>
      <a href="{{ site.baseurl }}/#">Tesis</a>
      <a href="{{ site.baseurl }}/#">Investigación</a>
      <a href="{{ site.baseurl }}/#">Ensayo</a>
      <a href="{{ site.baseurl }}/#">Informe</a>
      <a href="{{ site.baseurl }}/#">Monografía</a>
      <a href="{{ site.baseurl }}/#">Artículo</a>
      <a href="{{ site.baseurl }}/#">Proyecto</a>
    </div>
    <div>
      <h4>Blog</h4>
      {% assign post1 = site.posts[0] %}
      <a href="{{site.baseurl}}{{ post1.url }}">{{ post1.h1 | truncate: 45}}</a>
      {% assign post2 = site.posts[1] %}
      <a href="{{site.baseurl}}{{ post2.url }}">{{ post2.h1 | truncate: 45}}</a>
      {% assign post3 = site.posts[2] %}
      <a href="{{site.baseurl}}{{ post3.url }}">{{ post3.h1 | truncate: 45}}</a>
      {% assign post4 = site.posts[3] %}
      <a href="{{site.baseurl}}{{ post4.url }}">{{ post4.h1 | truncate: 45}}</a>
      <a href="{{site.baseurl}}/blog">Ver más posts</a>
    </div>
    <div>
      <h4>Consultas</h4>
      <a href="{{site.baseurl}}/legal">Privacidad, términos y condiciones</a>
      <a href="mailto:digitalizaresfacil@gmail.com">E-mail</a> 
      <a href="{{site.baseurl}}/contacto">Escríbenos</a>
    </div>
    <div>
      <h4>Síguenos</h4>
      <a href="#">Instagram</a>
      <a href="#">Facebook</a>
      <a href="#">Pinterest</a>
    </div>
  </section>
  <section>
  <q>&copy; TrabajoEscrito.com - {{ "now" | date:"%Y"}} - Todos los derechos reservados</q>
  </section>
</footer>