<footer>
  <section>
    <div>
      <a href="{{site.baseurl}}/" title="Inicio">
        <img src="{{'logotipo.webp'|relative_url}}" alt="Logo TrabajoEscrito.com" loading="lazy">
      </a>
      <p>¿Necesitas dominar las normas APA, ICONTEC y mejorar tus habilidades en trabajos escritos? En nuestra página aprende todo lo necesario.</p>
    </div>
    <div>
      <h4>Ejemplos de normas</h4>
      <a href="{{ site.baseurl }}/normas-apa/listas-normas-apa" title="Listas APA">⇾ Listas normas APA</a>
      <a href="{{ site.baseurl }}/normas-apa/titulos-y-subtitulos-normas-apa" title="Títulos APA">⇾ Títulos con normas APA</a>
      <a href="{{ site.baseurl }}/normas-apa/referencias-bibliograficas-normas-apa" title="Bibliografías APA">⇾ Bibliografías normas APA</a>
      <a href="{{ site.baseurl }}/normas-apa/margenes-normas-apa" title="Márgenes APA">⇾ Márgenes normas APA</a>
      <a href="{{ site.baseurl }}/normas-icontec/marco-teorico-normas-icontec" title="Marco teórico ICONTEC">⇾ Marco teórico normas ICONTEC</a>
      <a href="{{ site.baseurl }}/normas-icontec/portada-contraportada-normas-icontec" title="normas APA">⇾ Portada normas ICONTEC</a>
      <a href="{{ site.baseurl }}/normas-icontec/tabla-contenido-normas-icontec" title="normas APA">⇾ Tabla contenido normas ICONTEC</a>
    </div>
    <div>
      <h4>Ejemplos de trabajos</h4>
      <a href="{{ site.baseurl }}/tesis-normas-apa">⇾ Tesis</a>
      <a href="{{ site.baseurl }}/investigacion-con-normas-apa-icontec">⇾ Investigación</a>
      <a href="{{ site.baseurl }}/ensayos-con-normas-tecnicas">⇾ Ensayo</a>
      <a href="{{ site.baseurl }}/informes">⇾ Informe</a>
      <a href="{{ site.baseurl }}/monografia">⇾ Monografía</a>
      <a href="{{ site.baseurl }}/articulos-con-normas-apa">⇾ Artículo</a>
      <a href="{{ site.baseurl }}/proyectos-academicos">⇾ Proyecto</a>
    </div>
    <div>
      <h4>Consultas</h4>
      <a href="{{site.baseurl}}/cursos-de-trabajos-escritos" style="color: var(--principal)">⇾ CURSOS PARA SER UN EXPERTO</a>
      <a href="{{site.baseurl}}/tips-y-consejos">⇾ Recomendaciones del blog</a>
      <a href="{{site.baseurl}}/contacto">⇾ Escríbenos en la página de contacto</a>
      <a href="{{site.baseurl}}/legal">⇾ Privacidad, términos y condiciones</a>
    </div>
  </section>
  <section>
  <q>&copy; TrabajoEscrito.com - {{ "now" | date:"%Y"}} - Todos los derechos reservados | Página desarrolla por <a href="https://juli.com.co">Juli</a></q>
  </section>
</footer>