<section class="gallery-slider">
  <span id="left" class="next"><img src="/img/prev.svg" alt=""></span>
  <div class="slide-container">
    <img src="/img/1.webp" alt="" draggable="false">
    <img src="/img/2.webp" alt="" draggable="false">
    <img src="/img/3.webp" alt="" draggable="false">
    <img src="/img/4.webp" alt="" draggable="false">
    <img src="/img/5.webp" alt="" draggable="false">
    <img src="/img/6.webp" alt="" draggable="false">
    <img src="/img/7.webp" alt="" draggable="false">
  </div>
  <span id="right" class="prev"><img src="/img/next.svg" alt=""></span>
</section>