<header>
  <div class="title">
    {% if page.layout == "default" %}
    <h1>{{page.h1}}</h1>
    {% else %}
    <h1>{{page.h1}}</h1>
    {% include img.html hero=page.hero webpb=page.webpb webpm=page.webpm webps=page.webps alt=page.alt %}
    {% endif %}
    {% if page.url == "/" %}
    <p>Haz clic para aprender más sobre la <strong>la forma correcta de hacer un Trabajo Escrito</strong></p>
    <div>
      <a href="{{site.baseurl}}/#buscador" title="Terminales de Colombia" class="boton">Busca tu tema</a>
      <a href="{{site.baseurl}}/#partes" title="Terminales de Colombia" class="boton">Aprende más</a>
    </div>
    {% endif %}
  </div>
</header>
