<header>
  <div class="title">
    {% if page.layout == "default" %}
    <h1>{{page.h1}}</h1>
    {% if page.boton_info" %}
    <div>
      <p>{{page.intro}}</p>
      <a href="{{site.baseurl}}{{page.url}}#{{page.boton_info}}" title="{{page.boton_info_title}}" class="boton">{{page.boton_info_title | capitalize}}</a>
      <a href="{{site.baseurl}}{{page.url}}#{{page.boton_mas}}" title="{{page.boton_mas_title}}" class="boton">{{page.boton_mas_title | capitalize}}</a>
    </div>
  </div>
  <hr>
  {% endif %}
  {% else %}
  <h1>{{page.h1}}</h1>
  
  {% if page.webp %}
  <img src="{{site.baseurl}}/img/{{page.webp}}" alt="{{page.alt}}" title="{{page.title}}">
  {% endif %}
  </div>
  {% if page.excerpt %}
  {{page.excerpt|markdownify}}
  <hr>
    {% endif %}
    {% endif %}
</header>
