<nav>
  <input id="nav-toggle" type="checkbox">
  <li><a href="{{site.baseurl}}/" title="Inicio"><img src="{{'logotipo.webp'|relative_url}}" alt="Logotipo de TrabajoEscrito.com"></a></li>
    
  <ul>
    <li><a href="#" {% if page.url contains "/normas" %}class="active"{% endif %}">Normas</a></li>
    <li><a href="{{site.baseurl}}/trabajos" {% if page.url contains "/trabajos" %}class="active"{% endif %}">Trabajos</a></li>
    <li><a href="{{site.baseurl}}/tips-y-consejos" {% if page.url contains "/tips-y-consejos" %}class="active"{% endif %}">Tips y consejos</a></li>
    <li><a href="{{site.baseurl}}/contacto" {% if page.url contains "/contacto" %}class="active"{% endif %}">Contáctanos</a></li>
  </ul>
  <label for="nav-toggle" class="icono-nav">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </label>
</nav>