<nav>
  <input id="nav-toggle" type="checkbox">
  <a href="{{site.baseurl}}/" title="Inicio"><img src="{{'logotipo.webp'|relative_url}}" alt="Logotipo de TrabajoEscrito.com" width="180"></a>
    
  <ul>
    <li><details>
      <summary>Normas ⩡</summary>
      <a href="{{site.baseurl}}/normas-apa" {% if page.url contains "/normas-apa" %}class="active"{% endif %}">APA</a>
      <a href="{{site.baseurl}}/normas-icontec" {% if page.url contains "/normas-icontec" %}class="active"{% endif %}">Icontec</a>
    </details></li>
    <li><details>
      <summary>Trabajos ⩡</summary>
      <a href="{{site.baseurl}}/tesis-normas-apa" {% if page.url contains "/tesis-normas-apa" %}class="active"{% endif %}">Tesis</a>
      <a href="{{site.baseurl}}/informes" {% if page.url contains "/informe" %}class="active"{% endif %}">Informe</a>
      <a href="{{site.baseurl}}/ensayos-con-normas-tecnicas" {% if page.url contains "/ensayos-con-normas-tecnicas" %}class="active"{% endif %}">Ensayos</a>
      <a href="{{site.baseurl}}/monografia" {% if page.url contains "/monografia" %}class="active"{% endif %}">Monografías</a>
      <a href="{{site.baseurl}}/investigacion-con-normas-apa-icontec" {% if page.url contains "/investigacion-con-normas-apa-icontec" %}class="active"{% endif %}">Investigación</a>
      <a href="{{site.baseurl}}/proyectos-academicos" {% if page.url contains "/proyectos-academicos" %}class="active"{% endif %}">Proyecto</a>
      <a href="{{site.baseurl}}/anteproyecto-con-normas-tecnicas" {% if page.url contains "/anteproyecto-con-normas-tecnicas" %}class="active"{% endif %}">Anteproyecto</a>
      <a href="{{site.baseurl}}/articulos-con-normas-apa" {% if page.url contains "/articulos-con-normas-apa" %}class="active"{% endif %}">Articulo</a>
      <!-- <a href="{{site.baseurl}}/cronograma" {% if page.url contains "/cronograma" %}class="active"{% endif %}">Cronograma</a> -->
    </details></li>
    <li><a href="{{site.baseurl}}/tips-y-consejos" {% if page.url contains "/tips-y-consejos" %}class="active"{% endif %}">Recomendaciones</a></li>
    <li><a href="{{site.baseurl}}/cursos-de-trabajos-escritos" {% if page.url contains "/cursos-de-trabajos-escritos" %}class="active"{% endif %}" class="cursos_menu">Capacítate</a></li>
    <li><small> &copy; trabajoescrito.com </small></li>
  </ul>
  <label for="nav-toggle" class="icono-nav">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </label>
</nav>