<div class="gallery-slider">
  <span id="left" class="next"><img src="/img/prev.svg" alt="Prev button" width="32" height="32"></span>
  <div class="slide-container">
    <a href="{{site.baseurl}}/portada-trabajo-escrito" title="Portadas">
      <img src="/img/portada.svg" alt="Portada de un trabajo escrito" draggable="false" width="40" height="40">
      <p>Portadas</p>
    </a>
    <a href="{{site.baseurl}}/margenes-trabajo-escrito" title="Márgenes">
      <img src="/img/margenes.svg" alt="Márgenes de un trabajo escrito" draggable="false" width="40" height="40">
      <p>Márgenes</p>
    </a>
    <a href="{{site.baseurl}}/tabla-de-contenido-trabajo-escrito" title="Contenido">
      <img src="/img/tabla-de-contenido.svg" alt="Tabla de contenido de un trabajo escrito" draggable="false" width="40" height="40">
      <p>Índice</p>
    </a>
    <a href="{{site.baseurl}}/textos-y-fuentes-trabajo-escrito" title="Fuentes o Textos">
      <img src="/img/texto.svg" alt="Textos en un trabajo escrito" draggable="false" width="40" height="40">
      <p>Textos</p>
    </a>
    <a href="{{site.baseurl}}/cita-trabajo-escrito" title="Citas">
      <img src="/img/citas.svg" alt="Citas de un trabajo escrito" draggable="false" width="40" height="40">
      <p>Citas</p>
    </a>
    <a href="{{site.baseurl}}/anexos-trabajo-escrito">
      <img src="/img/anexo.svg" alt="Anexo en un trabajo escrito" draggable="false" width="40" height="40">
      <p>Anexos</p>
    </a>
  </div>
  <span id="right" class="prev"><img src="/img/next.svg" alt="Next button" width="32" height="32"></span>
</div>