<div class="gallery-slider">
  <span id="left" class="next"><img src="/img/prev.svg" alt="Prev button" width="32" height="32"></span>
  <div class="slide-container">
    <a href="{{site.baseurl}}/portada-trabajo-escrito" title="Portadas trabajo escrito">
      <img src="/img/portada.svg" alt="Portada de un trabajo escrito" draggable="false" width="40" height="40">
      <p>Portadas</p>
    </a>
    <a href="{{site.baseurl}}/margenes-trabajo-escrito" title="Márgenes trabajo escrito">
      <img src="/img/margenes.svg" alt="Márgenes de un trabajo escrito" draggable="false" width="40" height="40">
      <p>Márgenes</p>
    </a>
    <a href="{{site.baseurl}}/numeracion-trabajo-escrito" title="Numeración Trabajo Escrito">
      <img src="/img/tabla-de-contenido.svg" alt="Tabla de contenido de un trabajo escrito" draggable="false" width="40" height="40">
      <p>Numeración</p>
    </a>
    <a href="{{site.baseurl}}/cuerpo-trabajo-escrito" title="Cuerpo trabajo">
      <img src="/img/texto.svg" alt="Cuerpo de un trabajo escrito" draggable="false" width="40" height="40">
      <p>Cuerpo de trabajo</p>
    </a>
    <a href="{{site.baseurl}}/sangria-trabajo-escrito" title="Sangrías">
      <img src="/img/citas.svg" alt="Sangría de un trabajo escrito" draggable="false" width="40" height="40">
      <p>Sangría</p>
    </a>
    <a href="{{site.baseurl}}/anexos-trabajo-escrito">
      <img src="/img/anexo.svg" alt="Anexo en un trabajo escrito" draggable="false" width="40" height="40">
      <p>Anexos</p>
    </a>
  </div>
  <span id="right" class="prev"><img src="/img/next.svg" alt="Next button" width="32" height="32"></span>
</div>