/* DATOS DEL POST */

.post-data {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.post-data span {
  font-weight: 700;
}

/* BREADCRUMBS */

#breadcrumbs {
  margin-bottom: 1em;
}

/* SHARE */
#share-buttons {
  display: inline-block;
  vertical-align: middle;
}

#share-buttons:after {
  content: "";
  display: block;
  clear: both;
}

#share-buttons>div {
  position: relative;
  text-align: left;
  height: 36px;
  width: 32px;
  float: left;
  text-align: center;
}

#share-buttons>div>svg {
  height: 16px;
  fill: #bebebe;
  margin-top: 10px;
}

#share-buttons>div:hover {
  cursor: pointer;
}

#share-buttons>div.facebook:hover>svg {
  fill: #3B5998;
}

#share-buttons>div.twitter:hover>svg {
  fill: #55ACEE;
}

#share-buttons>div.linkedin:hover>svg {
  fill: #0077b5;
}

#share-buttons>div.pinterest:hover>svg {
  fill: #CB2027;
}

#share-buttons>div.mail:hover>svg {
  fill: #7D7D7D;
}

#share-buttons>div.instagram:hover>svg {
  fill: #C73B92;
}

#share-buttons>div.facebook>svg {
  height: 18px;
  margin-top: 9px;
}

#share-buttons>div.twitter>svg {
  height: 20px;
  margin-top: 8px;
}

#share-buttons>div.linkedin>svg {
  height: 19px;
  margin-top: 7px;
}

#share-buttons>div.pinterest>svg {
  height: 20px;
  margin-top: 9px;
}

#share-buttons>div.mail>svg {
  height: 14px;
  margin-top: 11px;
}

#markdown-toc a{
  font-family: var(--fuenteTitulos);
}

#markdown-toc a::before{
  content: "⇾";
  margin-right: .5em;
}

#markdown-toc li ul li{
  margin-left: 2em;
}

/* Contenido de la página blog */
.blog-gallery h3{
  margin-top: 4rem;
}

.blog-tags{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 2rem auto;
  justify-content: center;
  align-items: center;
}

.blog-tags button{
  flex: 1 0 max-content;
  padding: 8px 12px;
  border: 1px solid var(--gris1);
  box-shadow: var(--shadow);
}

.blog-tags button.active{
  background-color: var(--accion);
}

.post.hide{
  display: none;
}

.post span{
  display: inline-block;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.post .links{
  padding: 0 0 2rem;
}

.post .links article{
  flex: 1 0 320px;
  border-bottom: 1.2px dotted var(--gris1);
  max-width: max-content;
  padding-bottom: 1em;
}

.post-content{
  margin-top: 0;
}