.buscador{
  background-color: var(--grisFuentes);
  padding: 4rem 1rem;
  margin-top: 4rem;
  background-color: var(--grisFuentes);
box-shadow: 0 0 0 100vmax var(--grisFuentes);
clip-path: inset(0 -100vmax);
color: var(--blanco);
}

.buscador div,
.buscador h2,
.buscador div input,
.buscador div ul{
  width: min(100%, 720px);
  margin-inline: auto;
}

.buscador div input{
  border: none;
}

.buscador div a {
  text-decoration-color: var(--blanco);
}

.buscador div a h4,
.buscador div span{
  font-family: var(--fuenteTextos);
  color: var(--blanco);
}