header {
  display: grid;
  gap: 4em;
  padding-top: 4em;
}

.title{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  gap: 2em;
  place-items: center;
}

.title div{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.title img{
  -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2 alternate both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2 alternate both;
}
/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}
