header {
  display: grid;
  gap: 2rem;
}

.title{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}

.title h1{
  flex: 1 0 440px;
  max-width: 100%;
}

.title div{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  width: 100%;
}

.excerpt{
  background-color: var(--secundario);
  background-color: var(--secundario);
box-shadow: 0 0 0 100vmax var(--secundario);
clip-path: inset(0 -100vmax);
padding: 2rem 0;
}