header {
  display: grid;
  gap: 3em;
  padding-top: 5em;
  place-items: center;
}

.title{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  gap: 2em;
  place-items: center;
}

.title div{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.title img{
  max-width: 240px;
}
/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}
