.dos_columnas{
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  padding: 2em 0;

  div{
    flex: 1 0 400px;
  }
}

.izquierda{
  flex-direction: row-reverse;
}

.intro{
  display: grid;
  place-items: center;

  h2{text-align: center;}
}

.cluster{
  padding-left: 1em;
  border-left: 2px solid var(--principal);
  display: flex;
  flex-wrap: wrap;
  gap: 1em;

  li{
    margin: 0;
    list-style: none;
  }
}

.cta{
  background-color: var(--principal);
  box-shadow: 0 0 0 100vmax var(--principal);
  -webkit-clip-path: inset(0 -100vmax);
  clip-path: inset(0 -100vmax);
  display: grid;
  color: #ffffff;
  place-items: center;
  text-align: center;

  ul{
    max-width: 800px;
    margin-bottom: 1em;
    
    li{
      margin: 0;
      font-size: 1.8rem;
      margin-bottom: 12px;
    }
  }
}

.home_blog{
  display: grid;
  
  .boton,
  h2, img, > p{
    place-self: center;
    text-align: center;
  }
}