.normas a{
  color: var(--boton);
}

.normas_contenido .links{
  margin-bottom: 3rem;
  padding: 0;
}

.normas_contenido ol li,
.post-content ol li{
  list-style: decimal;
  margin-left: 2rem;
}

.normas_contenido ol li::marker,
.post-content ol li::marker{
  font-weight: 900;
  font-size: 1.5rem;
}

.normas_contenido ul li:not(.links li),
.post-content ul li:not(#markdown-toc li){
  margin: 0 0 1rem 2rem;
  list-style-type: disc;
}

.normas_contenido blockquote {
  box-shadow: 0 0 0 100vmax var(--secundario);
  clip-path: inset(0 -100vmax);
  border: none;
}

.normas_contenido img{
  width: min(100%, 400px);
  float: right;
  margin-inline-start: 3rem;
  margin-bottom: 2rem;
  box-shadow: var(--shadow);
}

.normas_contenido .boton{
  margin-right: 1em;
  margin-top: 1em;
}

.normas_contenido .cluster2 img{
  margin: 0;
}

.normas_contenido .cluster2 div{
  flex: 1 0 520px;
  max-width: 100%;
}