:root {
  /*** COLORES ***/
  --principal: #11b5e4;
  --secundario: #1481BA;
  --accion: #11b5e4;
  --boton: #f9a620;
  --complemento1: #e41111;
  --complemento2: #14ba83;
  --blanco: #fefefe;

  --gris1: rgba(191, 191, 191, 1);
  --gris2: rgba(140, 140, 140, 1);
  --gris3: rgba(89, 89, 89, 1);
  --gris4: rgba(64, 64, 64, 1);
  --grisFuentes: #253439;

  /*** FUENTES ***/
  --fuenteTitulos: "Special Elite", cursive;
  --fuenteTexto: "Mulish", sans-serif;

  /* BORDERS */
  --radius: 12px;

  /* SOMBRA */
  --shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {
  scroll-behavior: smooth;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--fuenteTexto);
  font-size: var(--sizeTexto);
  color: var(--grisFuentes);
  background-color: var(--blanco);
  padding: 0 16px;
}

h1,
h2,
h3,
h4 {
  font-family: var(--fuenteTitulos);
  text-transform: initial;
  max-width: 720px;
  line-height: 1.2;
  margin: 1.2em 0;
}

h1 {
  font-size: clamp(2.5rem, 3.5vw + 1rem, 3.25rem);
  margin: 0;
}

h2 {
  font-size: clamp(2rem, 2.8vw + 1rem, 2.75rem);
  margin-inline: auto;
  text-align: center;
}

h3 {
  font-size: clamp(1.75rem, 2vw + 1rem, 2.25rem);
}

h4 {
  font-size: clamp(1.25rem, 0.8vw + 1rem, 1.5rem);
}

p,
.post-content li,
.normas_contenido li {
  word-wrap: break-word;
  font-size: clamp(1.125rem, 0.5vw + 1rem, 1.25rem);
  margin-bottom: 1rem;
}

pre {
  font-family: monospace, monospace;
}

a {
  text-decoration-thickness: 2.6px;
  font-size: var(--small);
  font-weight: 900;
  transition: all .1s ease-out;
  color: var(--accion);
}

a:hover{
  transform: scale(1.05);
  color: var(--secundario);
}

img:not(.slide-container img){
  border-radius: var(--radius);
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: clamp(1rem, 1vw + 1rem, 1.125rem);
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

input {
  padding: 0.7rem;
  border-radius: var(--radius);
  border: none;
  box-shadow: var(--shadow);
}

input::-webkit-input-placeholder {
  font-family: var(--fuenteTitulos);
}

input::-moz-placeholder {
  font-family: var(--fuenteTitulos);
}

input:-ms-input-placeholder {
  font-family: var(--fuenteTitulos);
}

input::-ms-input-placeholder {
  font-family: var(--fuenteTitulos);
}

input::placeholder {
  font-family: var(--fuenteTitulos);
}

input:active {
  border: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  border-radius: var(--radius);
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

li {
  list-style: none;
}

blockquote {
  border: 0.8px solid var(--gris1);
  border-radius: 8px;
  padding: 2rem;
  margin: 1.2rem 0;
  background-color: var(--secundario);
  color: white;
}

blockquote a {
  margin: 1rem 0 0;
  display: block;
  float: right;
  background-color: var(--accion);
  color: white !important;
  text-decoration: none;
  padding: 12px 22px;
  border-radius: 12px;
  box-shadow: none;
  transition: 0.2s all ease-out;
}

blockquote a:hover {
  box-shadow: var(--shadow);
}

blockquote a:active {
  box-shadow: none;
}

table{
  width: 100%;
  margin: 2em 0 ;
}

table tr {
  border-bottom: 2px dotted var(--gris1);
  display: flex;
  padding: 1.2em 0;
  flex-wrap: wrap ;
  gap: 1em;
  width: 100%;
}

table th{
  font-weight: 900;
}

table td, table th{
  flex: 1 0 200px;
}

.boton {
  display: inline-block;
  padding: 0.7em 1.7em;
  font-size: 1.2rem;
  border-radius: 0.5em;
  background: var(--boton);
  border: 2px solid var(--grisFuentes);
  transition: all 0.3s;
  text-decoration: none;
  text-align: center;
  color: var(--grisFuentes);
}

.boton:hover {
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  transform: scale(1.05);
  color: var(--grisFuentes);
}

.cluster {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem 2rem;
  padding: 4rem 0;
}

.cluster li {
  flex: 1 0 120px;
  text-align: center;
  max-width: 400px;
}

hr {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}

hr:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: var(--blanco);
}

.cta{
  padding: 4rem 0;
  display: grid;
  background-color: var(--grisFuentes);
  background-color: var(--grisFuentes);
  box-shadow: 0 0 0 100vmax var(--grisFuentes);
  clip-path: inset(0 -100vmax);
  text-align: center;
  place-items: center;
  max-width: 992px;
  color: var(--blanco);
}

.cta a:hover{
  box-shadow: none;
}


header,
.gallery-intro,
.normas,
.estructura,
.tipos,
.entradas,
.cta,
.normas_contenido,
.blog-gallery,
.post-content {
  width: min(100%, 1128px);
  margin-inline: auto;
  margin-top: 6rem;
}

.destacado {
  background-image: url("/img/underline-text-img.png");
}

.seccion_a{
  background-color: var(--grisFuentes);
  background-color: var(--grisFuentes);
  box-shadow: 0 0 0 100vmax var(--grisFuentes);
  clip-path: inset(0 -100vmax);
  color: var(--blanco);
  padding: 4em 0;
}