:root {
  /*** COLORES ***/
  --principal: #1481BA;
  --accion: #11B5E4;
  --secundario: #fff06c;
  --blanco: #fefefe;
  --grisFuentes: #253439;

  --gris1: #bfbfbf;
  --gris2: rgba(140, 140, 140, 1);
  --gris3: rgba(89, 89, 89, 1);
  --gris4: rgba(64, 64, 64, 1);

  /*** FUENTES ***/
  --fuenteTitulos: "Special Elite", cursive;
  --fuenteTexto: "Mulish", sans-serif;

  /* BORDERS */
  --radius: 12px;

  /* SOMBRA */
  --shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {
  line-height: 1.6;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  scroll-padding-top: 8em;
}

body {
  font-family: var(--fuenteTexto);
  background-color: var(--blanco);
  padding: 0 16px;
  font-size: calc(15px + 0.390625vw);
}

h1, h2, h3, h4, h5{
  font-family: var(--fuenteTitulos);
  line-height: 1.12;
  letter-spacing: -0.8px;
}

h1 {
  font-size: clamp(2.6rem, 2.082rem + 2.59vw, 4rem);
  margin: 0;
}

h2 {
  font-size: clamp(2.2rem, 1.782rem + 2.09vw, 3.2rem);
  text-align: center;
  width: min(100%, 992px);
  margin-inline: auto;
}

h3 {
  font-size: clamp(1.8rem, 1.482rem + 1.59vw, 2.6rem);
}

h4 {
  font-size: clamp(1.4rem, 1.182rem + 1.09vw, 2rem);
}

h5, p, li {
  word-wrap: break-word;
  font-size: clamp(1rem, 0.942rem + 0.29vw, 1.16rem);
}

pre {
  font-family: monospace, monospace;
}

a {
  text-decoration-thickness: 2.6px;
  font-size: var(--small);
  font-weight: 900;
  transition: all .1s ease-out;
  color: var(--accion);
}

a:hover:not(.boton) {
  color: var(--accion);
}

img:not(.slide-container img) {
  border-radius: var(--radius);
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
  background-color: #11B5E440;
  padding: 4px;
}

small {
  font-size: clamp(1rem, 1vw + 1rem, 1.125rem);
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

input {
  padding: 0.7rem;
  border-radius: var(--radius);
  border: none;
  box-shadow: var(--shadow);
}

input::-webkit-input-placeholder {
  font-family: var(--fuenteTitulos);
}

input::-moz-placeholder {
  font-family: var(--fuenteTitulos);
}

input:-ms-input-placeholder {
  font-family: var(--fuenteTitulos);
}

input::-ms-input-placeholder {
  font-family: var(--fuenteTitulos);
}

input::placeholder {
  font-family: var(--fuenteTitulos);
}

input:active {
  border: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  border-radius: var(--radius);
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

ul li {
  list-style: none;
}

ol li{
  margin-left: 2em;
}

ol li::marker{
  font-size: 1.5em;
  font-family: var(--fuenteTitulos);
  color: var(--principal);
}

blockquote {
  border-radius: 8px;
  padding: 3em 0 1em;
  margin: 3em 0 2em;
  background-color: #bfbfbf60;
  box-shadow: 0 0 0 100vmax #bfbfbf60;
  -webkit-clip-path: inset(0 -100vmax);
  clip-path: inset(0 -100vmax);
  font-family: var(--fuenteTitulos);
  display: flex;
  gap: 20px;
  font-weight: 700;
}

blockquote::before {
  content: '″';
  font-weight: 900;
  font-size: 4em;
  line-height: 1;
}

blockquote a {
  color: var(--principal);
}

table {
  width: 100%;
  margin: 2em 0 4em;
}

table tr {
  border-bottom: 2px dotted var(--gris1);
  display: flex;
  padding: 1.2em 0;
  flex-wrap: wrap;
  gap: 1em;
  width: 100%;
}

table th {
  font-weight: 900;
}

table td,
table th {
  flex: 1 0 200px;
}

.boton {
  display: inline-block;
  padding: 0.7em 1.7em;
  font-size: 1.2rem;
  border-radius: 0.5em;
  background: var(--accion);
  border: 2px solid var(--grisFuentes);
  transition: all 0.3s;
  text-decoration: none;
  text-align: center;
  color: white;
}

.boton:hover {
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  transform: scale(1.05);
}

.cluster {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem 2rem;
  padding: 4rem 0;
}

.cluster li {
  flex: 1 0 120px;
  text-align: center;
  max-width: 400px;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.cta {
  padding: 4rem 0;
  display: grid;
  background-color: var(--principal);
  box-shadow: 0 0 0 100vmax var(--principal);
  -webkit-clip-path: inset(0 -100vmax);
          clip-path: inset(0 -100vmax);
  max-width: 800px;
  color: var(--blanco);
}

.cta p{
  font-size: 18px;
}

.cta a {
  background-color: var(--secundario);
  color: var(--grisFuentes);
}

.cta a:hover {
  box-shadow: none;
}

.cta-normas {
  border: 1px solid var(--gris2);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.cta-normas div p:last-child{
  margin: 0;
}

.normas_contenido .cta-normas .boton{
  flex: 1 0 200px;
  margin: 0;
}

.wrapper {
  width: min(95%, 1240px);
  margin-inline: auto;
  margin-bottom: 4rem;
}

.flow>*+*:not(h1) {
  margin-top: 1em;
}

.seccion_a {
  padding: 1em;
  border: 2.4px solid var(--principal);
  box-shadow: var(--shadow);
}

.cluster2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background-color: var(--grisFuentes);
  box-shadow: 0 0 0 100vmax var(--grisFuentes);
  -webkit-clip-path: inset(0 -100vmax);
          clip-path: inset(0 -100vmax);
  color: var(--blanco);
  padding: 3em 0;
  margin: 3em 0;
}
