:root {
  /*** COLORES ***/
  --principal: #1481ba;
  --accion: #0caadc;
  --secundario: #11b5e4;
  --complemento1: #e41111;
  --complemento2: #14ba83;
  --blanco: #fefefe;

  --gris1: rgba(191, 191, 191, 1);
  --gris2: rgba(140, 140, 140, 1);
  --gris3: rgba(89, 89, 89, 1);
  --gris4: rgba(64, 64, 64, 1);
  --grisFuentes: #253439;

  /*** FUENTES ***/
  --fuenteTitulos: "Special Elite", cursive;
  --fuenteTexto: "Mulish", sans-serif;

  /* BORDERS */
  --radius: 12px;

  /* SOMBRA */
  --shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {
  scroll-behavior: smooth;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--fuenteTexto);
  font-size: var(--sizeTexto);
  color: var(--grisFuentes);
  background-color: var(--blanco);
  padding: 0 16px;
}

h1,
h2,
h3,
h4 {
  font-family: var(--fuenteTitulos);
  text-transform: initial;
  max-width: 720px;
  line-height: 1.2;
}

h1 {
  font-size: clamp(2.5rem, 3.5vw + 1rem, 3.25rem);
}

h2 {
  font-size: clamp(2rem, 2.8vw + 1rem, 2.75rem);
  margin-bottom: 2rem;
}

h3 {
  font-size: clamp(1.75rem, 2vw + 1rem, 2.25rem);
}

h4 {
  font-size: clamp(1.25rem, 0.8vw + 1rem, 1.5rem);
}

p,
.post-content li {
  word-wrap: break-word;
  font-size: clamp(1.125rem, 0.5vw + 1rem, 1.25rem);
  margin-bottom: 1rem;
}

pre {
  font-family: monospace, monospace;
}

a {
  font-family: var(--fuenteTexto);
  text-decoration-thickness: 2.6px;
  font-size: var(--small);
  color: var(--accion);
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: clamp(1rem, 1vw + 1rem, 1.125rem);
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

input {
  border: inset;
  padding: 0.7rem;
  border-radius: var(--radius);
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  border-radius: var(--radius);
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

li {
  list-style: none;
}

header,
.gallery-intro,
.normas,
.estructura{
  width: min(100%, 1128px);
  margin-inline: auto;
  margin-top: 6rem;
}

.destacado {
  background-image: url("/img/underline-text-img.png");
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: var(--secundario);
}

.svg-icon circle {
  stroke: var(--secundario);
  stroke-width: 1;
}

blockquote {
  border: 0.8px solid var(--gris1);
  border-radius: 8px;
  padding: 2rem;
  margin: 1.2rem 0;
  background-color: var(--secundario);
  color: white;
}

blockquote a {
  margin: 1rem 0 0;
  display: block;
  float: right;
  background-color: var(--accion);
  color: white !important;
  text-decoration: none;
  padding: 12px 22px;
  border-radius: 12px;
  box-shadow: none;
  transition: 0.2s all ease-out;
}

blockquote a:hover {
  box-shadow: var(--shadow);
}

blockquote a:active {
  box-shadow: none;
}

table tr {
  border-bottom: 2px solid var(--gris1);
  display: block;
  margin-bottom: 0.625em;
}

table th,
table tr {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem 1.8rem;
}

.boton {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: var(--blanco);
  border: 1px solid var(--blanco);
  transition: all .3s;
  box-shadow: 6px 6px 12px #c5c5c5,
              -6px -6px 12px #ffffff;
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  place-items: center;
 }
 
 .boton:active {
  box-shadow: none
 }