---
layout: compress
---
{% include head.html %}
<body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WWC7CKC9"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% include nav.html %}
  {% include header.html %}
  {% if page.vertical %}
  <main class="normas_contenido wrapper flow">
    {{ content }}
  </main>
  {% include cta.html %}
  {% include footer.html %}
  {% else %}
    {{ content }}
  {% endif %}
  <a href="#">{% include boton-up.html %}</a>
  
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3100194943394350" crossorigin="anonymous"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</body>
</html>
