---
layout: default
---
<main class="post-content wrapper flow">
  {% include add2.html %}
  {{ content }}
  {% include add2.html %}
  {% if page.referencias %}
  <section id="fuentes">
    <h4>Créditos y referencias</h4>
    <div>
      {% for link_hash in page.referencias %}
      {% for link in link_hash %}
      <ul>
        <li>
          <a href="{{ link[1] }}" rel="nofollow noopener noreferrer" target="_blank">{{ link[0] }}</a>
        </li>
      </ul>
      {% endfor %}
      {% endfor %}
    </div>
  </section>
  {% endif %}
  {% include share.html %}
  <section class="wrapper form">
    <h4>Suscríbete y recibe más contenido de valor</h4>
    {% include formulario.html %}
  </section>
          
</main>
{% include cta.html %}
{% include footer.html %}
