---
layout: default
---
{% include breadcrumbs.html %}
<main class="post-content">
  {{ content }}
  {% if page.referencias %}
  <section id="fuentes">
    <h4>Créditos y referencias</h4>
    <div>
      {% for link_hash in page.referencias %}
      {% for link in link_hash %}
      <ul>
        <li>
          <a href="{{ link[1] }}" rel="nofollow noopener noreferrer" target="_blank">{{ link[0] }}</a>
        </li>
      </ul>
      {% endfor %}
      {% endfor %}
    </div>
  </section>
  {% endif %}
</main>
{% include comentarios.html %}
{% include cta.html %}
{% include footer.html %}