---
layout: default
---
{% include breadcrumbs.html %}
<div class="post-data">
  <span>
    {{page.date | date: "%m-%d-%Y"}} ✓ 
  </span>
  {% if page.autor %}
  <span>
    {{page.autor}} ✓ 
  </span>
  {% endif %}
  <span>
    {% capture words %}
    {{ content | number_of_words | minus: 180 }}
    {% endcapture %}
    {% unless words contains '-' %}
    {{ words | plus: 150 | divided_by: 150 | append: ' minutos de lectura' }} ✓ 
    {% endunless %}
  </span>
</div>
<main class="post-content">
  {{ content }}
  {% if page.referencias %}
  <section id="fuentes">
    <h4>Créditos y referencias</h4>
    <div>
      {% for link_hash in page.referencias %}
      {% for link in link_hash %}
      <ul>
        <li>
          <a href="{{ link[1] }}" rel="nofollow noopener noreferrer" target="_blank">{{ link[0] }}</a>
        </li>
      </ul>
      {% endfor %}
      {% endfor %}
    </div>
  </section>
  {% endif %}
</main>
{% include share.html %}
{% include comentarios.html %}
{% include cta.html %}
{% include footer.html %}
{% include follow-buttons.html %}
